@page "/b/{CategoryName}/t/{ThreadId:long}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model bluedit.Pages.ThreadModel
@{
	ViewData["Title"] = $"{Model.Thread.Title} - b/{Model.CategoryName}";
}

<div class="root-answer">
	<h1>@Model.Thread.Title</h1>
	<div>@Model.Answers.First().User.Name</div>
	<div>@Model.Answers.First().Content</div>
</div>

<form method="post">
	<textarea name="comment" placeholder="Ecrivez un commentaire..."></textarea>
	<input type="submit" value="Commenter" />
</form>

@* <div>
	Title: @Model.Thread.Title
	<br />
	Category: @Model.CategoryName
	<br />
	Answers length: @Model.Answers.Count
</div> *@

<div class="answers">
	@foreach (bluedit.Dbo.Answer Answer in Model.Answers.Skip(1)) {
		<div class="answer">
			<div>@Answer.User.Name</div>
			<div>@Answer.Content</div>
			<hr />
		</div>
	}
</div>