@page "/b/{CategoryName}/t/{ThreadId:long}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model bluedit.Pages.ThreadModel
@{
}

<div class="root-answer">
	<h1>@Model.Thread.Title</h1>
	@* get first comment *@
</div>

<textarea placeholder="Ecrivez un commentaire..."></textarea>
<input type="submit" value="Commenter" />

@* <div>
	Title: @Model.Thread.Title
	<br />
	Category: @Model.CategoryName
	<br />
	Answers length: @Model.Answers.Count
</div> *@

<div class="answers">
	@* get all but skip first comment *@
	@foreach (bluedit.Dbo.Answer Answer in Model.Answers) {
		<div class="answer">
			<div>@Answer.User.Name</div>
			<div>@Answer.Content</div>
			<hr />
		</div>
	}
</div>